* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body { 
    background-color: #303030; 
    font-family: 'Caveat Brush', cursive; 
    display: flex; 
    justify-content: center; 
    align-items: center; 
    height: 100vh;
}

.fundo {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
    opacity: 60%;
}

.top_bar {
    position: fixed;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    gap: 25px;
    font-family: "Georgia", serif;
    z-index: 100;
    backdrop-filter: blur(2px); 
}

nav a {
    color: #ee9f72; 
    font-size: 20px;
    text-decoration: none;
    font-weight: bold;
    text-shadow: 1px 1px 2px #000;
    transition: 0.2s;
}

.top_bar a:hover {
    color: #cc6f45;
    text-shadow: 1px 1px 4px #000000;
}



.container {
    position: relative;
    width: 1000px;
    margin-bottom: 900px;
    max-width: 95%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.pedra-img {
    width: 140%;
    height: auto;
    display: block;
}


.conteudo {
    position: absolute;
    top: 275px;
    left: 130px;
    width: 78%;
    color: #d38f57;
    font-size: 24px;
    text-align: left;
    line-height: 1.6;
}

.conteudo h2 {
    font-size: 26px;
    font-weight: bold;
    margin-bottom: 30px;
}

.opcoes button {
    display: block;
    width: 100%;
    text-align: left;
    padding: 12px 18px;
    margin: 12px 0;

    background: rgba(236, 207, 173, 0.75);
    border: none;
    border-radius: 10px;

    cursor: pointer;
    color: #3d2007;
    font-size: 20px;
    font-family: 'Caveat Brush', cursive;
    font-weight: bold;

    /* textura e profundidade */
    box-shadow: 2px 2px 3px #885927, inset 0 0 10px rgba(71, 71, 71, 0.411);
    backdrop-filter: blur(1px);

    transition: 0.25s;
}

.opcoes button:hover {
    background: rgb(223, 169, 108);
    transform: translateY(-3px);
    box-shadow: 4px 4px 0px #3f2a14, inset 0 0 12px rgba(0,0,0,0.3);
}


header {
    background: none;
    color: white;
    padding: 0;
    margin: 0;
    border: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 5;
}

#menu {
    position: fixed;
    z-index: 6;
    top: 0;
    left: 0;
    width: 220px;
    height: 100vh;
    background: rgba(34, 34, 34, 0.60);
    backdrop-filter: blur(10px);
    padding-top: 60px;
    transform: translateX(-100%);
    transition: transform 0.4s ease;
    position: fixed;
    z-index: 3;
}
#menu.active {
    transform: translateX(0);
}
nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
}
nav ul li {
    margin: 20px 0;
}
nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 18px;
    padding: 12px 20px;
    display: block;
    transition: 0.3s;
    font-family: Arial, sans-serif;
}
nav ul li a:hover {
    background: rgba(255,255,255,0.15);
    padding-left: 30px;
    border-radius: 6px;
}

.hamburger {
    cursor: pointer;
    width: 32px;
    height: 24px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    position: fixed;
    top: 20px;
    left: 20px;

    z-index: 9999; /* Fica acima de tudo */
}


.hamburger span {
    height: 3px;
    width: 100%;
    background: rgb(255, 255, 255);
    border-radius: 4px;
    transition: 0.3s ease-in-out;
}
.hamburger.active span:nth-child(1) {
    transform: translateY(10px) rotate(45deg);
}
.hamburger.active span:nth-child(2) {
    opacity: 0;
}
.hamburger.active span:nth-child(3) {
    transform: translateY(-10px) rotate(-45deg);
}